<!DOCTYPE html>
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Auto_test.Library.Models.UserModels.SignInUserModel


@{
    ViewData["Title"] = "CheckHasUser";
}


<style>

    body h2 {
        text-align: center;
        color: chocolate
    }
    
    form {
        width: 50%;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color:burlywood
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    input[type="text"], input[type="email"], input[type="password"], textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: none;
        border-radius: 3px;
        background-color: #fff;
        box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
    }

    input[type="file"] {
        margin-bottom: 20px;
    }

    input[type="submit"] {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #3e8e41;
    }

    .error-message {
        color: #ff0000;
        margin-bottom: 10px;
    }

    span {
        margin: 0;
        padding-bottom: 5px;
    }
</style>

@{
    string message = "";

    if (ViewBag.Message == true)
    {
        message = "Malumotlarni yangilash uchun tekshiruv";
    }
    else
    {
        message = "Bunday foydalanuvchi mavjud emas! \nIltimos ro'yxatdan o'ting";
    }
}

<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
@{
    if (ViewBag.CheckHasUser == true)
    {
        <h2>Malumotlarni yangilash uchun tekshiruv</h2>
    }
    else
    {
        <h2 style="color: #ff0000"> Bunday foydalanuvchi mavjud emas! Iltimos ro'yxatdan o'ting" </h2>
    }
}
    <br/>
<form asp-controller="Registration" asp-action="Update" method="get">

    <label for="emailOrPhone">Telefon yoki E-mail:</label>
    <input placeholder="Telefon yoki Email kirirting!" type="text" id="emailOrPhone" name="UserEmailOrPhone" asp-for="UserEmailOrPhone"/>
    <span style="color: #ff0000" asp-validation-for="UserEmailOrPhone"></span>

    <label for="password">Parol:</label>
    <input placeholder="Parolni kiriting" type="password" id="password" name="UserPassword" asp-for="UserPassword"/>
    <span style="color: #ff0000" asp-validation-for="UserPassword"></span>

    <input type="submit" value="Yuborish"/>
    <br/>
    <br/>
    <a class="btn btn-info" asp-controller="Registration" asp-action="SignUp">Ro'yxatdan o'tish</a>
</form>
</body>
</html>
