
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .colorr{
        color: crimson;
        text-align: center;
    }
    .color1 {
        color: aliceblue;
        text-align: center;
    }
</style>

<h1 class="colorr btn-outline-primary" style="color: aliceblue"><span style="color: lawngreen"> Assalomu alaykum </span></h1>
<br/>
<br/>


<h2 class="colorr" style="color: aliceblue"><span style="color: crimson"> AUTOTEST_ASR </span> ga xush kelibsiz! biz sizni saytimizda ko'rishdan xursandmiz! </h2>
<br/>
<br/>

<h2 class="colorr" style="color: aliceblue">Ushbu dastur Ilmhub IT school talabasi  <span style="color: chartreuse"> Sardorbek Akhmedov Ruziboy O'g'li</span> 
    tomonidan ustozimiz <span style="color: chartreuse"> Javlonbek Fattoyev </span>  yordami bilan yozildi, ushbu dastur <span style="color: red"> 19.04.2023 </span>  da yozib tugatildi. </h2>
<br/>
<br/>

<h3 class="color1"> Ushbu saytimiz orqali siz yo'l harakati qoidalariga oid bilim va ko‘nikmalaringizni sinab ko‘rishingiz mumkin.</h3>
    
    
<h4 class="color1"> Saytimizda umumiy test savollari <span style="color: gold">  " 700 " </span> ta, 
    test biletlari soni <span style="color: gold">  " 70 " </span> ta va har biletda <span style="color: gold">  " 10 " </span> ta dan savol mavjud siz ushbu biletlarni bajarganingizdan so'ng 
   <span style="color: chartreuse">  " TEST IMTIHONI " </span>bo'limiga o'tib  yo'l harakati qoidalarini qay darajada o'zlashtirganingizni imtihon orqali bilib olishingiz mumkin.</h4>
    
<br/>

<div class="d-flex">
    <img
        src="http://themes.potenzaglobalsolutions.com/html/cardealer/revolution/assets/e13ec-06-audi-s2.png"
        alt=""
        class="w-50 imgss"/>
    <img
        src="http://themes.potenzaglobalsolutions.com/html/cardealer/revolution/assets/4f45e-07-bmw-s2.png"
        alt=""
        class="w-50 imgss"/>

    <!-- <img src="http://themes.potenzaglobalsolutions.com/html/cardealer/images/loader.gif" alt=""> -->
</div>
